{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Capstone Project</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'restaurant/img/favicon.ico' %}"
    />
  </head>
  <body>
    <h1 style="text-align: center">Welcome to Little Lemon Restuarant</h1>
    <img src="{% static 'restaurant/img/logo.png' %}" alt="Little Lemon logo" />
  </body>
</html>
